<%= form_with url:menus_path do |form| %>
      <div class="Form-section">
        <p class="FormInput-label">Name :</p>
        <%= form.text_field :name, class: "Form-Input" %>
      </div>

<%end%>
