
.dropicon {
  background-color: gray;
  color: white;
  border: 0px;
  border-radius: 0px;
  width: 160px;
  font-size: 16px;
  padding: 16px;
}
.Form-submit1 {
  width: 192px;
  border-radius: 0px;
  border: 0px;
  font-size: 20px;
  padding: 10px;
  display: none;
  background-color: #f1f1f7;

}

.Form-submit:hover {
  background-color: rgb(179, 204, 236);

}
.dropdown:hover .Form-submit {
   display: block;

 }

 .Form-section {
  margin-bottom: 20px;
}
.NewUsers-title {
  margin-bottom: 40px;
  font-size: 30px;
}
.Form-Input {
 font-size: 18px;
 padding: 8px;
;
}
.FormInput-label {
  color: #555555;
  margin-bottom: 8px;
}
.Form-submit {
  font-size: 20px;
  padding: 20px;
  background-color: #0ea86d20;
  border: 0px;
  border-radius: 4px;
}
